@charset "utf-8";

/* 클래스 */
div {
    background-color: yellow;
    width: 1200px;
    margin: auto;   
}     
/*콘텐르는 가로 중앙 배치: margin:auto */
.div1 {
    background-color: aqua;
    height: 100px;

}

.div2 {
    background-color: beige;
    height: 300px;
}

.div3 {
    background-color: chocolate;
    height: 200px;
}

.div4 {
    background-color: darkcyan;
    height: 100px;
}