@charset "utf-8";

/* temp */
/* reset */
body,
ul,
h1,
h2 {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

/* 텍스트 밑줄 제거 text-decoration: none; */
a {
    text-decoration: none;
}

/* layout */
/* 박스 모델 속성, display, position */
nav {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    line-height: 100px;
}

nav li {
    display: inline-block;
}

nav section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}

nav ul {
    
}

header {
    height: 200px;
    line-height: 200px;
}

section {
    width: 940px;
    margin: auto;
}

.home-card {
    display: flex;
    justify-content: space-between;
}

.home-icon {
    width: 100px;
    height: 100px;
}

.home-description {
    width: 790px;
    height: 140px;
}

header {
    background: url(../assets/bg-light.png);
}

/* header */
/* section */
/* footer */

/* font
font-family:글꼴
font-size:크기
font-style:italic;이탤릭
font-weight:굵기, 100,200,~900(단위 없음)
line-height:줄간격150%,1.5,  23px(단위 생략)
text-align:맞춤
px는 소수점으로 쓰지 않는다.

style guide(스타일 가이드)
영문 제목: Georgia      h1~h3, nav a
영문 본문:Arial         body,p태그,section a
한글 제목: Noto sans KR
한글 본문: Noto Sans KR

단위: rem, em, px, %


h1: 50px,700,lh 60px
h2: 30px,700, lh 36px
h3: 22.5px,700, lh33.75px
h3 span: 22.5px, 400, lh33.75px
nav a:   20px, lh100px
section a:15px
body p:15px, 1.5- 150~200% 가독성이 좋다.
color:색

*/
/* 글자 속성은 상속 받는다. */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1,
h2,
h3,
nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

h1 {
    font-size: 50px;
    color: #fff;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22.5px;
}

nav a {
    font-size: 20px;
    color: #444;
}



/* bg-color */
nav {
    background-color: aqua;
}

.home-icon {
    background-color: bisque;
}

.home-description {
    background-color: chartreuse;
}