@charset "utf-8";
@import url(reset.css);
@import url(typo.css);

/* 공통 */
/* 뷰 포트(viewport): 창 기준
    1. vw
    2. vh
    3. vmin
    4. vmax
*/
section {
    height: 100vh;
    background:url(../assets/1.png)
    no-repeat -299px 0/cover;
    
}

.ibx {
    display: flex;
    align-items: center;
    width: 1120px;
    margin: 0 auto;
    height: 100%;

}

/* 섹션4 */
#s4 .cont {
    background-color: aqua;
    width: 560px;
}