@charset "utf-8";

/* @import는 상단에 기록한다. */
@import url(reset.css);
@import url(typo.css);
@import url(header.css);

@import url(link.css);
@import url(banner.css);
@import url(tabs.css);
@import url(footer.css);

#slide {
    height: 350px;
    background: #f04467
}

#main_contents {
    width: 1340px;

}

/* 헤더 영역 */

header {
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1340px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid;
}

/* 로고 */
.logo {
    width: 190px;
    text-align: center;
}

/* 내비게이션 */
.gnb {
    align-self: flex-end;
}

/* 1depth */
.main {
    display: flex;
}

.main>li {
    width: 160px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.main>li:hover {
    background: #333;
}

/* 가상 서브 바 */
.main::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0px;
    opacity: 0;
    transition: .3s;
    background: rgba(0, 0, 0, 0.5);
}

.main:hover::before {
    height: 150px;
    opacity: 1;
}

/* 2depth */
.sub {

    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    padding: 10px 0 20px;
    transition: .3s;
    line-height: 2;

}

/* 선택자가 바뀜 > li 제거*/
.main:hover .sub {
    height: 150px;
    visibility: visible;
    opacity: 1;
}

.sub li a {
    padding: 4px 16px;
}

.sub li:hover a {
    background: #111;
}