


/* 링크 영역 */
#link {
    width: 1340px;
    height: 100px;
    padding: 20px;
    background: aqua;
}

#link ul {
    display: flex;
    justify-content: space-evenly;
}


#link li a {
    display: flex;
    align-items: center;
}

/* 아이콘 이미지 */

#link ul li span {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #CCC;
    /* 인라인 요소의 수직 배치 */
    margin-right: 24px;
}

/* #link b {
    display: inline-block;
    line-height: 100px;
    border:1px solid;
} */