@charset "utf-8";
@import url(reset.css);
@import url(typo.css);

html{
    scroll-behavior: smooth;
}
/* 헤더영역 */
header{
    position: fixed;
    z-index: 9999;
    width: 100%;
    display:flex ;
    justify-content: space-between;
}