@charset "utf-8";

header {
    display: flex;
    justify-content: space-between;
    height: 56px;
}

section {
    width: 1500px;
    margin: auto;
}

h2 {
    border-bottom: 1px solid black;
    padding: 24px 0;
    margin-bottom: 48px;
    margin-top: 64px;
}



.s1 {
    height: 745px;
}

.s2 h2 {
    border: none;
    margin: 0;
}


.s2 ul {
    display: flex;
    flex-wrap: wrap;
}


.s2 li {
    width: 360px;
    height: 240px;
    margin-right: 20px;
}

.s2 li:nth-of-type(4n) {
    margin: 0;
}

.s3 h3 {
    display: inline-block;
}