@charset "utf-8";

body {

}
.flex-container {
    display: flex;
    height: 297px;
    width: 1293px;
    background:#FFF;
    border: 1px solid 1px;   
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

div div {
    width: 183px;
    height: 200px;
    background: #ababab;
    text-align:center;
    border-radius: 18px; 
    margin:30px;

}