@charset "utf-8";

body {
    margin: 0;
    background: #f9f9f9;
}

.suv_title {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}


.flex {
    padding-bottom: 20px;
    align-items: center;
}

#flex1 {
    background: #fff;
    width: 180px;
    height: 56px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin: 20px;
    margin-bottom: 0;
    border-top-width: 1px;
    border-top-color: #000;
    border-bottom: solid#000 1px;
}

#flex3 {
    background: #fff;
    width: 180px;
    height: 85px;
    font-size: 15px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 20px;
    border-top-width: 1px;
    border-top-color: #000;
    border-bottom: solid#000 1px;

}

#flex2,
#flex4,
#flex5,
#flex6 {
    background: #fff;
    width: 180px;
    height: 56px;
    font-size: 15px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 20px;
    border-top-width: 1px;
    border-bottom: solid#000 1px;
}


#flex7 {
    background: #3e3e3e;
    color: #fff;
    width: 180px;
    height: 56px;
    font-size: 15px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 20px 20px;

}

#box {
    background: #fff;
    font-size: 24px;
    text-align: left;
    width: 895px;
    height: 55px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 39px;
    flex-wrap: nowrap;
}

.box1 {
    position: relative;
    background: #ababab;
    ;
    border-top: 10px;
    padding: 50px 0;
    width: 895px;
    height: 113px;
    transform: translate(-50%, -50%);
    /* flex-wrap: nowrap; */
}